{% extends "layout.html" %}

{% block content %}
<h1 class="mb-4">{{ title }}</h1>
{% include 'includes/_flash_messages.html' %}

<div class="card shadow-sm">
    <div class="card-body">
        <h5 class="card-title mb-3">Formulir Input Buku Sadar</h5>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.tanggal.label(class="form-label") }}
                {{ form.tanggal(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.santri.label(class="form-label") }}
                {{ form.santri(class="form-select") }}
            </div>
            <div class="mb-3">
                {{ form.jumlah.label(class="form-label") }}
                {{ form.jumlah(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.keterangan.label(class="form-label") }}
                {{ form.keterangan(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.riyadhoh.label(class="form-label") }}
                {{ form.riyadhoh(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.status_riyadhoh.label(class="form-label") }}
                {{ form.status_riyadhoh(class="form-select") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</div>
{% endblock %}